*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}
.row>p{
    max-width: 45vw;
    min-height: fit-content;
    overflow: auto;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 100vh;
}